.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  margin: 20px;
}

.custom-item {
  margin-bottom: 15px;
  --highlight-color-focused: var(--ion-color-primary);
  --min-height: 60px;
  --padding-start: 16px;
}

.custom-item ion-icon {
  color: var(--ion-color-primary);
  margin-right: 8px;
}

.custom-item ion-label {
  color: var(--ion-color-medium);
}

.custom-item ion-input {
  color: var(--ion-color-dark);
}

.custom-button {
  margin-top: 20px;
  border-radius: 20px;
}

.forgot-password-button {
  margin-top: 10px;
  color: var(--ion-color-primary);
}

.footer-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
