<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Login</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" routerLink="/signup">
        Sign up
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">
  <div class="signup-form-container">
    <ion-list>
      <ion-item class="custom-item">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item class="custom-item">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      
      <ion-button type="submit" expand="block" color="primary" routerLink="/home" class="custom-button">
        Sign in
      </ion-button>
      <ion-button expand="block" fill="clear" routerLink="/forgot-password" class="forgot-password-button">
        Forgot password?
      </ion-button>
    </ion-list>
  </div>
  <div class="footer-image-container">
    <img src="assets/imgs/background.jpg" alt="Footer Image" class="footer-image">
  </div>
</ion-content>